<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DISCIPLINA OK </title>
</head>
<body>
    <h1>aqui estão as disciplinas </h1>
    <h2><a href="{% url 'index' %}"> Voltar para INDEX</a></h2>
    <table>
            <thead>
                <tr>
                    <th>Robôs</th>
                    <th>Etapa de Ensino</th>
                    <th>Conteúdos Matemática</th>
                    <th>Conteúdos Linguagens</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="{% url 'disciplina' disciplina.id %}">{{ robo.nomePortfolio }}</a></td>
                    <td>{{ robo.etapasEnsino }}</td>
                    <td>{{ robo.tematicaMat }}</td>
                    <td>{{ robo.tematicaLing }}</td>

                </tr>
            </tbody>
        </table>

</body>
</html>